/** main page **/

.body {
font-family: 'Roboto', sans-serif;
font-weight: 600;
letter-spacing: 0.02em;
color: #2E2F42;
}

/* header */

.header-main-page {
position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-logo {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
align-items: center;
position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px
}
.logo-web {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: #4D5AE5;
}
.header-logo-page {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: #2E2F42;
}
.list-header-page {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;
position: absolute;
width: 261px;
height: 24px;
left: 348px;
top: 24px;
}
.page-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-mail {
width: 153px;
height: 24px;
left: 940px;
top: 24px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-tel {
width: 151px;
height: 24px;
left: 1133px;
top: 24px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* main */

.main-section {
position: absolute;
width: 1440px;
height: 603px;
left: 0px;
top: 72px;
background: #2E2F42; 
}

.title {
position: absolute;
width: 492px;
height: 120px;
left: 474px;
top: 264px;
font-weight: 600;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
}

.main-btn { 
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-color: transparent;
}

.main-title {
width: 1128px;
height: 104px;
left: 156px;
top: 795px;
}
 .main-title {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

 .main-text {
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}

.section-photo {
width: 1128px;
height: 412px;
left: 156px;
top: 1019px;
}

.section-title {
width: 322px;
height: 40px;
left: 559px;
top: 1019px;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
 letter-spacing: 0.02em;
color: #2E2F42;
}

.photo-item {
box-sizing: border-box;
width: 360px;
height: 300px;
flex: none;
}

.main-team {
width: 1440px;
height: 732px;
left: 0px;
top: 1551px;
background: #F4F4FD;
}

.team-title {
width: 162px;
height: 40px;
left: 639px;
top: 1671px;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}

.team-item {
width: 264px;
height: 380px;
left: 156px;
top: 1783px;
background: #FFFFFF;
}
.title-name {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

/* footer */

.footer-page {
position: absolute;
width: 1440px;
height: 310px;
left: 0px;
top: 2283px;
background: #2E2F42;
}
.name-logo {
width: 44px;
height: 22px;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #4D5AE5;
}
.footer-logo-page {
width: 71px;
height: 22px;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #F4F4FD;
}
.footer-text-page {
width: 264px;
height: 72px;
left: 156px;
top: 2421px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
